.container#content {
  margin-top: 60px;
}
body {
  background-color: rgb(0, 0, 0);
  background-image: url(../images/bg.jpg);
  width: 100%;
  height:200px;
  background-repeat: no-repeat;
  background-size: cover;

}
a {
  color: #089800;
  &:hover {
    color: #00ff48;
    text-decoration: none;
  }
}
body {
  font-family: $site-font;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  color: ghostwhite;
}
.navbar {
  background-color: rgb(32, 32, 32);
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #089800;
  &:hover {
    color: #00ff48;
  }
}
ul {
  list-style: none;
  padding: 0;
}

.infos {
  color: rgb(87, 174, 0);
}

.hometext {
  color: orange;
}

.particle-js {
  position: fixed;
  background-repeat: repeat;

  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.front {
  width: 80%;
  margin-top: 50%;
  text-align: center;
  margin-left: 5%;
}

.about-text {
  color: azure;
}

.abouts-section {
  margin-top: 50%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
.background {
  width: 100%;
  height: 800px;
  z-index: -10;
  opacity: 0%;
}

.dlogo{
  width:50px;
  padding: 10%;
  
}
.icons_connect{
  position: absolute;
  display: flex;
  margin-top: 5%;
  margin-left: 40%;
  

}

.text {
  position: relative;
  top: 350px;
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;

  color: azure;

  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-in-out;

  animation-duration: 5s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.line {
  position: relative;
  top: 350px;
  width: 16%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 60px;
  text-align: center;
  font-family: "Comfortaa", cursive;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: azure;

  @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
}

/*Animation*/

.anim-typewriter {
  animation: typewriter 4s steps(20) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width: 600px) {
  .line {
    font-size: 35px;
  }

  .about-text {
    color: azure;
  }
  .abouts-section {
    margin-top: 140%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 20px;
  }

  .particle {
    height: 100%;
  }

  body {
    background-color: rgb(0, 0, 0);
    background-image: url(../images/bg.jpg);
    width: 100%;
    height:800px;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .dlogo{
    width: 30px;
    margin-left: -11%;
    margin-top: -3%;
  }

  .icons_connect{
    position: absolute;
    display: flex;
    margin-top: 5%;
    margin-left: 30%;
    
  
  }

}
